<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Huskies Helping Huskies</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Huskies Helping Huskies</a>
            </h1>
        </header>

        <main>
        {{{body}}}
        </main>
        
        <footer>
        </footer>
    </div>
</body>
</html>