
{{#if loggedIn}}
<form class = "post-form">
  <div>
    <textarea name = "post-text"></textarea>
  </div>

  <div>
    <button type="button">HTML</button>
    <button type="button">git</button>
    <button type="button">gitLab</button>
    <button type="button">mySQL</button>
    <button type="button">Other</button>
  </div>

  <div>
    <button type = "submit"> Add Post</button>
  </div>
 
</form>
 {{/if}}

{{> comments post.comments}}

 {{#if loggedIn}}
 <script src="/javascript/add-post.js"></script>
 {{/if}}