:root {
    --primary-color:
    --secondary-color:
    --tertiary-color: 
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      background-image: url("../images/campus.jpg");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-position: 80%;
  }

  h1 {
      padding: 20px 35px;
      background-color: var(--tertiary-color);
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      color: ivory;
  }

  .buttons {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 250px 35px;
  }

    
  .btn1 {
      padding: 10px 35px;
      border-radius: 15px;
  }

  .btn2 {
    padding: 10px 35px;
    border-radius: 15px;
}